@model Tutorial16.ViewModels.BooksTypeAuthor
@using Tutorial16.Models;
@{
    ViewBag.Title = "Home Page";
}
@*This is the initial view*@
<style type="text/css">
    .crudContainer {
        position: absolute;
        width: 75%;
    }

    .roundAddButton {
        position: absolute;
        top: 20px;
        right: 0;
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 60%;
    }

    .plainAddButton {
        position: absolute;
        top: 16px;
        right: 0;
        font-size: 32px;
    }

    #advancedDiv {
        border: 1px solid #cccccc;
        width:60%;
        padding:25px;
    }
</style>

<script>
    function toggleAdvanced()
    {
        if (document.getElementById("advancedDiv").classList.contains("hiddenDiv"))
        {
            document.getElementById("advancedDiv").classList.remove('hiddenDiv');
            document.getElementById("advancedDiv").style.display = "block";
            document.getElementById("advancedBtn").innerText = "Close";
        }
        else
        {
            document.getElementById("advancedDiv").classList.add('hiddenDiv');
            document.getElementById("advancedDiv").style.display = "none";
            document.getElementById("advancedBtn").innerText = "Advanced Search";
        }
        
    }
</script>

@if (ViewBag.Status != 0)
{
<div class="row crudContainer">
    <h1>Books</h1>
    @using (Html.BeginForm("ComplexSearch", "Home", FormMethod.Post, new { style = "width:100%" }))
    {

        List<SelectListItem> listItems1 = new List<SelectListItem>();
        listItems1.Add(new SelectListItem
        {
            Text = "Select a Type",
            Value = "NADA",
            Selected = true
        });

        foreach (string item in Model.types)
        {
            listItems1.Add(new SelectListItem
            {
                Text = item,
                Value = item,
                Selected = true
            });
        }

        //for the Authors
        List<SelectListItem> listItems2 = new List<SelectListItem>();
        listItems2.Add(new SelectListItem
        {
            Text = "Select an Author",
            Value = "NADA",
            Selected = true
        });

        foreach (string item in Model.authors)
        {
            listItems2.Add(new SelectListItem
            {
                Text = item,
                Value = item,
                Selected = true
            });
        }
        <table class="table">
            <tr>
                <th style = "width:20%"><input type="text" style="max-width:none; display:flex" name="searchText" class="form-control" placeholder="Search" /></th>
                <th style = "width:20%;">@Html.DropDownList("type", new SelectList(listItems1, "Value", "Text"), new { @class = "form-control", style = "display:flex;" })</th>
                <th style = "width:20%">@Html.DropDownList("author", new SelectList(listItems2, "Value", "Text"), new { @class = "form-control", style = "display:flex;" })</th>
                <th style = "width:10%"><button type="submit" class="btn btn-success">Search</button></th>
                <th style = "width:10%"><button type="button" onclick="location.href='@Url.Action("Index","Home") '" class="btn btn-danger">Clear</button></th>

            </tr>
         </table>

     }

    
    

    <table class="table">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Author</th>
            <th>Type</th>
            <th>Page Count</th>
            <th>Points</th>
            <th>Status</th>

        </tr>
        @foreach (Books book in Model.books)
        {
            <tr>
                <td>@book.ID</td>
                <td>@book.Name</td>
                <td>@book.Surname</td>
                <td>@book.Type</td>
                <td>@book.Pagecount</td>
                <td>@book.Points</td>
                @{ if (book.status == "Available")
                    {
                        <td style="color: green">@book.status</td>
                    }
                    else
                    {
                        <td style="color: red">@book.status</td>
                    }

                }
                <td>@Html.ActionLink("View","Index","Book",new { bookId = @book.ID}, new { @class = "btn btn-primary" }) </td>
            </tr>
        }
    </table>
    </div>
}